@model SentenceGenerator.Models.FormModel

@{
    ViewData["Title"] = "Sentence Generator";
}
    <form asp-action="DisplayWord">
        Pick a title:<br/>
        <select asp-for="Title_" >
            @foreach(var title in Model.Titles)
            {
                <option value="@title">@title</option>
            }
        </select>
        <br />
        Pick a starting word:<br/>
        <input type="text" asp-for="Word" />
        <input type="submit">
    </form>
