@model SentenceGenerator.Models.FormModel

@{
    ViewData["Title"] = "Home Page";

}
    <form asp-action="DisplayWord">
        <select asp-for="Title_" asp-items="ViewBag.TitleList">
        </select>
        <br />
        <input asp-for="Word"><br />
        <input type="submit"><br />
    </form>

<p>@ViewBag.Sentence</p>
